body {
    background: #f0f0f0;
    text-align: center;
    font-family: Arial, sans-serif;
}

#box {
    width: 80px;
    height: 80px;
    background: red;
    position: absolute;
    top: 110px;
    left: 110px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

